# R αρχεία περιόδου
.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
.RDataTmp1
.RDataTmp2
.RDataTmp3
.Rapp.history

# Quarto cache
**/_cache/
/.quarto/
**/*.quarto_ipynb

# Μεγάλα αρχεία
mushrooms_clean.csv
Parking_Bays.csv
Trees_In_Camden.csv

# PDFs
*.pdf